body{
    color: rgb(31, 74, 87);
    background: #c4dae4;
    font-family: 'Dosis', sans-serif;
    margin: 20px 0;
    padding: 20px 10%;
    box-sizing: border-box;
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: right;
    padding: 10px 3%;
    background: linear-gradient(90deg, rgba(129, 197, 182, 0.13), rgba(8, 145, 138, 0.164));
    border-radius: 10px;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color:  rgb(37, 88, 103); 
}
nav a:hover{
    color: #000001;
    font-size: 18.5px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15px;
}
.sobremi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
h1{
    font-size: 40px;
}
p.front{
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(98, 153, 170);
}
.frontend{
    display: flex;
    flex-direction:row;
    gap: 5px;
}
.frontend > i {
    color:rgb(126, 174, 189);
    font-size: 30px;
    margin: 5px;
    padding: 9px;
}
p.descripcion{
    font-size: 18px;
    line-height: 1.5;
    max-width: 700px;
}
section{
    align-items: center;
    padding: 20px 10%;
    border-radius: 20px;
    margin: 20px;
    background: linear-gradient(150deg, rgba(184, 204, 200, 0.13), rgba(6, 165, 157, 0.075));
}
h2{
    color:rgb(98, 153, 170);
    text-align: center;
    font-size: 28px;
}
.habilidade {
    display: flex; /* Alinea en fila */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Asegura alineación vertical */
    gap: 50px; /* Espacio entre elementos */
    padding: 2%;
}

.habilidad {
    display: flex;
    flex-direction: column; /* Ícono arriba, texto abajo */
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: #42565e;
}
.habilidad i:hover{
    font-size: 45px;
    color: #3e86a0;
    transition-duration: 0.5s;
}
.habilidad p {
    font-size: 18px;
}
.experienciass{
    padding-left: 15%;
}
.experiencia {
    font-size: 18px;
    display: flex;
    gap: 5px;
}
.experiencia > p {
    font-weight: 700 ;
}
.experiencia > i {
    padding: 19px;
}
.experiencias > p{
    padding-left: 20px;
    margin: 10px;
}
.fecha {
    font-size: 13px;
}
.red{
    background-color: #6899b6; /* Color de fondo de LinkedIn */
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 14px;
    border-radius: 5px;
    transition: 0.3s;
}
.red:hover {
    background-color: #4195c2; /* Color más oscuro al pasar el cursor */
}